/* Components */
@use "../styles/../tools/lib/coer-alert/coer-alert.component.scss";

/* Classes */
@use "./lib/animation-speed.scss";
@use "./lib/animation.scss";
@use "./lib/app.scss";
@use "./lib/border-radius.scss";
@use "./lib/border.scss";
@use "./lib/color.scss";
@use "./lib/component.scss";
@use "./lib/container.scss";
@use "./lib/cursor.scss";
@use "./lib/display.breakpoint.scss" as _display;
@use "./lib/flex-basis.breakpoint.scss" as _flex-basis;
@use "./lib/flex-grow-shrink.breakpoint.scss" as _flex-grow-shrink; 
@use "./lib/flex-layout.breakpoint.scss" as _flex-layout; 
@use "./lib/flex-wrap.scss";
@use "./lib/font-family.scss";
@use "./lib/font-size.breakpoint.scss" as _font-size; 
@use "./lib/gap.breakpoint.scss" as _gap; 
@use "./lib/icons.scss"; 
@use "./lib/margin.breakpoint.scss" as _margin; 
@use "./lib/padding.breakpoint.scss" as _padding; 
@use "./lib/position.breakpoint.scss" as _position; 
@use "./lib/visibility.breakpoint.scss" as _visibility; 
@use "./lib/width-height.breakpoint.scss" as _width-height; 



@mixin Module($module, $breakpoint) {
    @if $module == '' {} 
    @else if $module == '_display'          { @include _display.mixin($breakpoint)          }
    @else if $module == '_flex-basis'       { @include _flex-basis.mixin($breakpoint)       }
    @else if $module == '_flex-grow-shrink' { @include _flex-grow-shrink.mixin($breakpoint) }
    @else if $module == '_flex-layout'      { @include _flex-layout.mixin($breakpoint)      }
    @else if $module == '_font-size'        { @include _font-size.mixin($breakpoint)        }
    @else if $module == '_gap'              { @include _gap.mixin($breakpoint)              } 
    @else if $module == '_margin'           { @include _margin.mixin($breakpoint)           }
    @else if $module == '_padding'          { @include _padding.mixin($breakpoint)          } 
    @else if $module == '_position'         { @include _position.mixin($breakpoint)         }
    @else if $module == '_visibility'       { @include _visibility.mixin($breakpoint)       }
    @else if $module == '_width-height'     { @include _width-height.mixin($breakpoint)     } 
} 

@mixin ApplyBreakpoints($module) { 
    @each $breakpoint, $min-width in (      
        ''     : 0px,
        'mv-'  : 0px,
        'xs-'  : 500px,    
        'sm-'  : 576px,  
        'md-'  : 768px,  
        'lg-'  : 992px,   
        'xl-'  : 1200px,  
        'xxl-' : 1400px, 
    ) {   
        @if ($breakpoint == '') {       
            @include Module($module, $breakpoint);
        }

        @else if ($breakpoint == 'mv-') {
            @media (min-width: $min-width) and (max-width: 499px) {   
                @include Module($module, $breakpoint);
            }
        }

        @else {
            @media (min-width: $min-width) {      
                @include Module($module, $breakpoint);
            } 
        }
    }   
} 

@include ApplyBreakpoints('_display');
@include ApplyBreakpoints('_flex-basis');
@include ApplyBreakpoints('_flex-grow-shrink'); 
@include ApplyBreakpoints('_flex-layout'); 
@include ApplyBreakpoints('_font-size');
@include ApplyBreakpoints('_gap');
@include ApplyBreakpoints('_margin');
@include ApplyBreakpoints('_padding'); 
@include ApplyBreakpoints('_position'); 
@include ApplyBreakpoints('_visibility'); 
@include ApplyBreakpoints('_width-height'); 